<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://w3.org/1999/xhtml">
    <head>
        <title>TechShop</title>
    </head>
    <body>
        <div>
            <h1 th:text="#{aplicacion.titulo}">Welcome</h1>
            <form method="POST" th:action="@{/login}">
                <div>
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" required>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" required>
                </div>
                
                <br/><br/>
                <button type="submit" value="Login">Login</button>
            </form>
        </div>

    </body>
</html>
