<!DOCTYPE html>
<!--

-->
<html>
    <head>
        <title>Shop Login</title>
        <link rel="stylesheet" href="css/login.css">
    </head>
    
    <body>
        
        <div class="content">
            <h1>Welcome</h1>
            <form method="post">
                <div class="txt_field">
                    <input type="text" required>
                    <label>Username</label>
                </div>
                <div class="txt_field">
                    <input type="password" required>
                    <label>Password</label>
                </div>
                <input type="submit" value="Login">
                <div class="singup_link">
                    Not a member ? <a href="">Singup </a>
                </div><!-- comment -->
            </form>
        </div>

    </body>

</html>
