<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://w3.org/1999/xhtml">
    <head th:replace="plantilla/template::Head"></head>
    <body>
        <head th:replace="plantilla/template::NavBar"></head>
        
        <div class="container">
            <h1 th:text="${titulo}"></h1>

            <table class="table">
                <thead>
                    <tr>
                      <th scope="col">Nombre</th>
                      <th scope="col">Apellidos </th>
                      <th scope="col"></th>
                      <th scope="col">Email</th>
                      <th scope="col">Telefono</th>
                      <th scope="col">Pais</th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                    </tr>
                </thead>
                <th:block th:each="user : ${personas}">
                    <tr>
                        <td th:text="${user.getNombre}"></td>
                        <td th:text="${user.getApellido1}"></td>
                        <td th:text="${user.getApellido2}"></td>
                        <td th:text="${user.getEmail}"></td>
                        <td th:text="${user.getTelefono}"></td>
                        <td th:text="${user.getPais.getPais}"></td>
                        <td><a th:href="@{/eliminarPersona/{id}(id=${user.getId})}"> Delete </a></td>
                        <td><a th:href="@{/modificarPersona/{id}(id=${user.getId})}"> Edit </a></td>
                    </tr>
                </th:block>
            </table>
        </div>
        
        <footer th:replace="plantilla/template::Footer"></footer>
    </body>
</html>